<div class="toast-container position-fixed bottom-0 end-0 p-3 position-static">
  <div class="toast bg-opacity-50 border-0" role="alert" aria-live="assertive" aria-atomic="true" id="message_update_state">
    <div class="d-flex">
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  </div>
</div>
