<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <%= turbo_frame_tag 'show_content_modal' do %>
        <div class="modal-header">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
        </div>
        <div class="modal-body modal-dialog-scrollable">
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary disabled placeholder col-1"></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
