<div class="d-flex gap-3">
  <%= link_to tasks_path(view: "cards"), class: "btn btn-glass", type: "button" do %>
    <i class="fa-solid fa-table-cells"></i><span class="text-dark"> Cards</span>
  <% end %>
  <%= link_to tasks_path(view: "dashboard"), class: "btn btn-glass", type: "button" do %>
    <i class="fa-solid fa-table-columns"></i><span class="text-dark"> Dashboard</span>
  <% end %>
  <%= link_to tasks_path(view: "list"), class: "btn btn-glass", type: "button" do %>
    <i class="fa-solid fa-bars-progress"></i><span class="text-dark"> List</span>
  <% end %>
</div>
