<% if @view == 'card' %>
  <%= turbo_stream.append "card-view-tasks" do %>
    <div class="col-sm-12 col-lg-4 my-2" >
      <%= render partial:"task_item", locals: {task: @task} %>
    </div>
  <% end %>
<% elsif @view == "dashboard" %>
  <%= turbo_stream.replace "tasks_list", partial: 'task_dashboard_view', locals: { tasks: @tasks } %>
<% end %>


<%= turbo_stream.replace "show_content_modal", partial: 'form' %>
